// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section-title {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-top: 60px;
}

.category-header {
  width: 100%;
  padding: 5px 20px;
  margin: 0 auto;
  border-bottom: double 4px #333;
  position: fixed;
  z-index: 10;
  background-color: #eee;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container-middle {
      .portfolio-logo {

        .main-logo {
        font-size:2.4rem;
        color: #333333;
        }
      }
    }

    .lists {
      list-style: none;
      
      .list-anker {
        display: inline-block;
        padding-left: 30px;

        .list {
          text-decoration: none;
          font-weight: bold;
        }
      }
      .list-anker:last-child {
        padding-right: 30px;
      }
    }
  }
}

.top-contents {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 72px;
  max-width: 1200px;
  margin: 0 auto;

  .center-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    .main-synopsis {
      margin-top: 20px;
    }
  }

  .font-rotate {
    position: absolute;
    display: inline-block;
    top: 55%;
    right: -20%;
    transform: rotateZ(-90deg);
    padding: 0 20px;
    border-bottom: solid 2px #333;

    .rotate-text {
      font-size: 1.6rem;
    }
  }
}

.mybooks-contents {
  height: 100%;
  padding-top: 72px;
  width: 100%;

  .books-box {
    box-sizing: border-box;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:0 auto;
    .books {
      box-sizing: border-box;
      background-color: rgb(247, 245, 245);
      height: 80%;
      width: 80%;
      margin:0 auto;
      padding:0 20px 20px;
      margin-top: 30px;
      margin-right: 20px;
      max-width: 1000px;
      text-align: center;
      border: 1px solid #808000;

      p {
        border-top: 1px solid #808000;
        padding: 10px 0;
        font-size: 14px;
        font-weight: bold;
      }

      .photo-book {
        width: 100%;
        height: 80%;
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  .more-area{
    text-align: right;
    margin-top: 30px;
    margin-right: 5%;

    .more-button {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.hobbies-contents {
  width: 100%;
  padding-top: 72px;
  .hobbies-area {
    margin-top: 100px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);

    .hobby {
      margin:0 auto;
      justify-content: space-around;
      display: flex;
      padding: 70px 30px 0;
      max-width: 1000px;

      .hobby-picture {
        width: 350px;
        height: 280px;
      }

      .hobby-text {
        margin-top: 40px;
        padding-right: 20px;
        width: 40%;
        .hobby-title {
          border-bottom: 1px solid #333;
          color: #333;
          text-align: center;
          font-size: 1.8rem;
        }

        .hobby-synopsis {
          color: #333;
          font-size: 14px;
          text-align: left;

          .start-date {
            margin: 20px 0;
            text-align: center;
          }
        }
      }

      .hobby-text:nth-child(even) {
        padding-left: 20px;
      }
    }

    .hobby:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
}

.contact-contents {
  .contact-box {
    text-align: center;
    width: 100%;
    margin-top: 70px;
    color: #333;

    .contact-icon {
      margin-top: 50px;

      .common-icon {
        width: 50px;
        height: 50px;
        font-size: 24px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        line-height: 50px;
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }
      }

      .twitter-icon {
        margin-right: 20px;
        color: #1da1f2;
        background-color: #fff;
        border: 1px solid #1da1f2;
      }

      .facebook-icon {
        margin-left: 20px;
        background-color: #3b5c9f;
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #eee;
  line-height: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  border-top: double 4px #333;

  .footer-box {
    padding: 5px 20px;
    font-size: 12px;
  }
}

#nav-none {
  display: none;
}

.nav-toggle {
  display: none;
}

.global-nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;

  .lists {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
    text-align: center;
    z-index: 10;
    list-style: none;

    .list {
      margin-top: 30px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width:768px) {
  .category-header {
    .header-container {
      z-index: 10;
      .container-middle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-toggle {
          display: block;
          padding-right: 20px;
          line-height: 72px;
          font-size: 28px;
          color: #808000;
          cursor: pointer;
          z-index: 10;
        }
      }

      .header-list {
        display: none;
      }

      .container-middle {

        .portfolio-logo {

          .main-logo {
            font-size: 24px;
          }
        }
      }
    }
  }

  .top-contents {

    .font-rotate {
      padding: 0;
      right: -40%;
      
      .rotate-text {
        font-size: 1.4rem;
        padding: 0 10px;
      }
    }
  }

  .mybooks-contents {

    .books-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .books {
        margin: 0 auto;
        margin-top: 50px;
        height: 80%;
        width: 160px;
      }
    }
  }

  .hobbies-contents {

    .hobbies-area {
      margin-top: 30px;

      .hobby {
        display: block;
        text-align: center;

        .img-box {

          .hobby-picture {
            margin-bottom: 30px;
          }
        }

        .hobby-text {
          margin: 0 auto;
          width: 80%;
        }
      }
    }
  }

  .contact-contents {

    .contact-box {

      .contact-text {
        font-size: 12px;
      }
    }
  }

  .section-title h3{
    font-size: 1.8rem;
  }
}

// .global-nav {
  
// }

@media screen and (max-width: 414px) {
  .top-contents {
    padding: 0 10px;

    .font-rotate {
      right: -42%;
      margin-bottom: 10px;

      .rotate-text {
        font-size: 1.2em;
        
      }
    }
  }

  .mybooks-contents {

    .books-box {

      .books {

        padding: 0 10px 20px;
      }
    }
  }

  .hobbies-contents {

    .hobbies-area {
      
      .hobby {
        padding: 50px 10px 0;
        .img-box {

          .hobby-picture {
            width: 280px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px)and(max-width: 768px) {
  .top-contents {

    .font-rotate {
      right: -30%;
    }
  }
  .mybooks-contents {

    .books-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto;
      .books {

        padding: 0 10px 25px;
      }
    }
  }
}


