.section-title {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-top: 60px;
}

.category-header {
  width: 100%;
  padding: 5px 20px;
  margin: 0 auto;
  border-bottom: double 4px #333;
  position: fixed;
  z-index: 10;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.category-header .header-container .container-middle .portfolio-logo .main-logo {
  font-size: 2.2rem;
  color: #333333;
}

.category-header .header-container .lists {
  list-style: none;
}

.category-header .header-container .lists .list-anker {
  display: inline-block;
  padding-left: 30px;
}

.category-header .header-container .lists .list-anker .list {
  text-decoration: none;
  font-weight: bold;
}

.category-header .header-container .lists .list-anker:last-child {
  padding-right: 30px;
}

.top-contents {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 72px;
  max-width: 1200px;
  margin: 0 auto;
}

.top-contents .center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.top-contents .center-wrapper .main-synopsis {
  margin-top: 20px;
}

.top-contents .font-rotate {
  position: absolute;
  display: inline-block;
  top: 55%;
  right: -20%;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  padding: 0 20px;
  border-bottom: solid 2px #333;
}

.top-contents .font-rotate .rotate-text {
  font-size: 1.6rem;
}

.mybooks-contents {
  height: 100%;
  padding-top: 72px;
  width: 100%;
}

.mybooks-contents .books-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.mybooks-contents .books-box .books {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f5f5;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px 20px;
  margin-top: 30px;
  margin-right: 20px;
  max-width: 1000px;
  text-align: center;
  border: 1px solid #808000;
}

.mybooks-contents .books-box .books p {
  border-top: 1px solid #808000;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}

.mybooks-contents .books-box .books .photo-book {
  width: 100%;
  height: 80%;
  margin-top: 10px;
  text-align: center;
}

.mybooks-contents .more-area {
  text-align: right;
  margin-top: 30px;
  margin-right: 5%;
}

.mybooks-contents .more-area .more-button {
  text-decoration: underline;
  cursor: pointer;
}

.hobbies-contents {
  width: 100%;
  padding-top: 72px;
}

.hobbies-contents .hobbies-area {
  margin-top: 100px;
}

.hobbies-contents .hobbies-area .hobby {
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 30px 0;
  max-width: 1000px;
}

.hobbies-contents .hobbies-area .hobby .hobby-picture {
  width: 350px;
  height: 280px;
}

.hobbies-contents .hobbies-area .hobby .hobby-text {
  margin-top: 40px;
  padding-right: 20px;
  width: 40%;
}

.hobbies-contents .hobbies-area .hobby .hobby-text .hobby-title {
  border-bottom: 1px solid #333;
  color: #333;
  text-align: center;
  font-size: 1.8rem;
}

.hobbies-contents .hobbies-area .hobby .hobby-text .hobby-synopsis {
  color: #333;
  font-size: 14px;
  text-align: left;
}

.hobbies-contents .hobbies-area .hobby .hobby-text .hobby-synopsis .start-date {
  margin: 20px 0;
  text-align: center;
}

.hobbies-contents .hobbies-area .hobby .hobby-text:nth-child(even) {
  padding-left: 20px;
}

.hobbies-contents .hobbies-area .hobby:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contact-contents .contact-box {
  text-align: center;
  width: 100%;
  margin-top: 70px;
  color: #333;
}

.contact-contents .contact-box .contact-icon {
  margin-top: 50px;
}

.contact-contents .contact-box .contact-icon .common-icon {
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  line-height: 50px;
  cursor: pointer;
}

.contact-contents .contact-box .contact-icon .common-icon:hover {
  opacity: 0.6;
}

.contact-contents .contact-box .contact-icon .twitter-icon {
  margin-right: 20px;
  color: #1da1f2;
  background-color: #fff;
  border: 1px solid #1da1f2;
}

.contact-contents .contact-box .contact-icon .facebook-icon {
  margin-left: 20px;
  background-color: #3b5c9f;
}

.footer {
  width: 100%;
  background-color: #eee;
  line-height: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  border-top: double 4px #333;
}

.footer .footer-box {
  padding: 5px 20px;
  font-size: 12px;
}

#nav-none {
  display: none;
}

.nav-toggle {
  display: none;
}

.global-nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
}

.global-nav .lists {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  margin: auto;
  text-align: center;
  z-index: 10;
  list-style: none;
  font-size: 18px;
}

.global-nav .lists .list {
  margin-top: 30px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .category-header .header-container {
    z-index: 10;
  }
  .category-header .header-container .container-middle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-header .header-container .container-middle .nav-toggle {
    display: block;
    padding-right: 20px;
    line-height: 72px;
    font-size: 28px;
    color: #808000;
    cursor: pointer;
    z-index: 10;
  }
  .category-header .header-container .header-list {
    display: none;
  }
  .category-header .header-container .container-middle .portfolio-logo .main-logo {
    font-size: 24px;
  }
  .top-contents .font-rotate {
    padding: 0;
    right: -40%;
  }
  .top-contents .font-rotate .rotate-text {
    font-size: 1.4rem;
    padding: 0 10px;
  }
  .mybooks-contents .books-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .mybooks-contents .books-box .books {
    margin: 0 auto;
    margin-top: 50px;
    height: 80%;
    width: 160px;
  }
  .hobbies-contents .hobbies-area {
    margin-top: 30px;
  }
  .hobbies-contents .hobbies-area .hobby {
    display: block;
    text-align: center;
  }
  .hobbies-contents .hobbies-area .hobby .img-box .hobby-picture {
    margin-bottom: 30px;
  }
  .hobbies-contents .hobbies-area .hobby .hobby-text {
    margin: 0 auto;
    width: 80%;
  }
  .contact-contents .contact-box .contact-text {
    font-size: 12px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
  .section-title h3 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 414px) {
  .category-header {
    height: 50px;
    background-color: inherit !important;
  }
  .top-contents {
    padding: 0 10px;
  }
  .top-contents .font-rotate {
    right: -42%;
    margin-bottom: 10px;
  }
  .top-contents .font-rotate .rotate-text {
    font-size: 1.2em;
  }
  .mybooks-contents .books-box .books {
    padding: 0 10px 20px;
  }
  .hobbies-contents .hobbies-area .hobby {
    padding: 40px 10px 0;
    height: 100vh;
  }
  .hobbies-contents .hobbies-area .hobby .img-box .hobby-picture {
    width: 280px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .top-contents .font-rotate {
    right: -30%;
  }
  .mybooks-contents .books-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
  .mybooks-contents .books-box .books {
    padding: 0 10px 25px;
  }
}
/*# sourceMappingURL=posts.css.map */